.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.welcome-page h1 {
  font-size: 2rem;
  margin-top: 2rem;

}
.welcome-page p {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
  width: 80%;

}
.container-diagram-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}
