/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');
:root {
  --nepal-50: #f4f8fa;
  --nepal-100: #e7eef2;
  --nepal-200: #d4e1e9;
  --nepal-300: #b6ceda;
  --nepal-400: #88acc1;
  --nepal-500: #799db8;
  --nepal-600: #6788a9;
  --nepal-700: #5b789a;
  --nepal-800: #4e637f;
  --nepal-900: #425266;
  --nepal-950: #2b3440;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: var(--nepal-500);
  color: white;
  font-family: 'Lexend', sans-serif;
}
main {
  font-family: 'Lexend', sans-serif;
  background-color: var(--nepal-50);
}
.tooltip {
  display: none;
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
}

.nav-item:hover .tooltip {
  display: block;
}
