<main>
  <div class="first-section">
    <div class="container-form">
      <app-numeric-form [formFields]="formFields" (formSubmit)="onSubmit($event)"></app-numeric-form>
    </div>
  </div>
  <div class="second-section">
    <div class="container-results" *ngIf="isSimulate">
      <h4>Resultado</h4>
      <p>
        En <strong>{{cantidadSimulaciones}}</strong>
        simulaciones, donde cada simulacion tiene <strong>
        {{cantidadLanzamientos}}
      </strong> lanzamientos de dados, se obtuvo una
        ganancia promedio neta del dueño igual a
        <strong>
          {{gananciaNetaCasaPromedio}}
        </strong>, el número de veces que gana la casa en promedio es
        <strong>{{numeroDeJuegosQueGanaLaCasaPromedio}}</strong> y la probabilidad de ganar de la casa en cada simulación es
        <strong>{{PorcejateDeJuegosQueGanaLaCasaPromedio}}</strong>.
      </p>
    </div>
    <div class="container-table">
      <h4>Tabla de valores</h4>
      <app-table [datos]="listaValores" [columnas]="listaHeader"></app-table>
    </div>
  </div>
</main>
<style>
  main {
    font-family: 'Lexend', sans-serif;
    background-color: var(--nepal-50);
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    align-items: flex-start;
  }
  .first-section {
    max-width: 420px;
    display: flex;
    justify-content: center;
    background-color: var(--nepal-200);
    padding: 0.5rem;
    border-radius: 10px;
  }
  .second-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
  }
  .container-results {
    background-color: var(--nepal-200);
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .container-table {
    background-color: var(--nepal-200);
    border-radius: 10px;
    padding: 0.5rem;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--nepal-800);
    margin-bottom: 0.5rem;
  }
  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
    .first-section {
      max-width: 100%;
    }
    .second-section {
      width: 100%;
    }
  }
</style>
