<div class="table-container">
  <table>
    <thead>
    <tr>
      <th *ngFor="let columna of columnas">{{ columna }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fila of datos">
      <td *ngFor="let columna of fila">{{ columna }}</td>
    </tr>
    </tbody>
  </table>
</div>

<style>
  .table-container {
    overflow-x: auto; /* activa el scroll horizontal */
    width: 100%; /* asegura que el contenedor ocupe el ancho completo */
  }
  table {
    width: 100%; /* permita que la tabla tenga el ancho que necesite */
    white-space: nowrap; /* evita que el contenido de la tabla se rompa */
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
</style>
